@font-face {
    font-family: 'Norse-Bold';
    src: url(./fonts/Norse-Bold.otf);
}

body {
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
}

.bg-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url(./images/sami-takarautio-vRgVEE9nyc4-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    width: 40vw;
}

.logo-area {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    height: 15vh;
    width: 100%;
}

.odin-logo {
    height: 13vh;
}

.logo-text {
    font-family: 'Norse-Bold';
    font-size: 10vmin;
    color: whitesmoke;
}

.footer, a {
    margin-bottom: 7px;
    font-size: small;
    color: whitesmoke;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.text-section {
    height: 33vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightgray;
}

.main-text {
    padding-left: 4%;
    font-weight: bold;
    font-size: 2.5vmin;
}

.form-section, .bottom-section {
    padding-left: 4%;
    height: 33vh;
    width: 56vw;
}

form {
    display: flex;
}

fieldset {
    padding: 0;
    margin: 0 50px 0 0;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

label {
    font-size: 0.7em;
}

.label-group {
    display: flex;
    flex-direction: column;
}