@font-face {
    font-family: 'Norse-Bold';
    src: url(./fonts/Norse-Bold.otf);
}

body {
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #636363;
}

.container {
    display: flex;
}

.bg-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url(./images/sami-takarautio-vRgVEE9nyc4-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    width: 40vw;
}

.logo-area {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    height: 15vh;
    width: 100%;
}

.odin-logo {
    height: 13vh;
}

.logo-text {
    font-family: 'Norse-Bold';
    font-size: 10vmin;
    color: whitesmoke;
}

.footer, a {
    margin-bottom: 7px;
    font-size: small;
    color: whitesmoke;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-section, .bottom-section, .text-section {
    min-height: 33vh;
    width: 56vw;
    padding-left: 4vw;
}

.form-section {
    box-shadow: 0 0 18px #bfbfbf;
}

.text-section {
    height: 34vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f4f4f4;
    z-index: 1;
}

.text-container {
    padding: 10% 15% 0 0;
}

.main-text {
    
    font-weight: bold;
    font-size: 2.5vmin;
}

.bottom-section > p {
    font-weight: 600;
}

p > a {
    color: #c57327;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

form {
    display: flex;
    }

fieldset {
    padding: 0;
    margin: 0 50px 0 0;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

label {
    font-size: 0.7em;
}

input {
    height: 2.5vh;
    width: 13vw;
    border-color: #E5E7EB;
    border-radius: 5px;
}

input:focus {
    outline-color: #d49037;
}

.submit-btn {
    font-size: 1em;
    font-weight: bold;
    box-shadow: 0 0 12px gray;
    background-color: #c57327;
    color: white;
    margin-top: 30px;
    height: 45px;
    width: 240px;
    border: none;
    border-radius: 7px;
}

.label-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}